// Define variables for your color scheme
// Bootstrap colors
$red: #cb0213;
$dark-red: #8a0102;
$blue: #010150;
$dark-blue: #04002b;
$purple: #25004c;
$yellow: #bd9200;
$orange: #ac3000;
$green: #37472b;
$gray: #252526;
$dark-gray: #000000;
$light-gray: #d4d4d4;
$light-yellow:#fff9f9;


// Rolling-Kitchen colors
$primary: #FFCC63;
$primary-dark: #FFAD02;
$primary-light:#FFD981;

$secondary:#DE4949;
$secondary-dark: #ee3b3a;
$secondary-light:#FF4E4E;

$accent:#FC7744;
$accent-dark: #EC602A;
$accent-light:#E77C53;

$gray:#6c757d;
$gray-dark: #212529;
$gray-light:#dee2e6;

$black: #000000;
$white: #ffffff;




