// Style for all cards
.foodtruck-card {
  background-color: rgb(255, 254, 253);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 3px;
}

.foodtruck-img {
  border-radius: 3px;
  padding: 20px;
}

// Top row styles

.foodtruck-img {
  border-radius: 3px;}

  .booking-form {
  // padding: 20px;
  // border-radius: 3px;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  // background-color: rgb(255, 255, 255);
}

.foodtruck-info {
  // margin-top: 18px;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  // padding: 15px;
}

// bottom row
.info-container {
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 3px;
}

.foodtruck-description {
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  // padding: 20px;
  // background-color: rgb(255, 255, 255);
}

// Details

.foodtruck-details {
  // padding: 20px;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  // border-radius: 3px;
  // background-color: rgb(255, 255, 255);
}

.restaurant_related_actions{
  display:flex;
}
.restaurant_related_actions > form {
  margin: 5px;
  margin-bottom: 10px;
  margin-top:-10px;
}


.details-title {
  margin-bottom: 30px;
}

.menu-package {
  padding-top: 10px;
}
