<a name="home"></a>
    <div class="intro-header">
      <div class="bg-overlay">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Find Food Trucks In Your City</h1>
                        <h3>Within a few clicks, find meals that are accessible near you</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>