<header>
    <nav class="navbar navbar-expand-lg">
        <div class="flex-grow-1 d-flex">
            <form class="form-inline flex-nowrap mx-0 mx-lg-auto rounded p-2">
                <%= form_tag foodtrucks_path, method: :get do %>
                 <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a foodtruck by location, cuisine or name"%>
                 <%= submit_tag "Go", class: "btn btn-primary btn-orange" %>
                 <% end %>
            </form>
        </div>
    </nav>
</header>