<%= render 'shared/banner' %>

<div class="full-about" id="full-about">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="about-content">
                    <h2>About us</h2>
						<h3>Providing Food Truck Services Since 1990 With Proud.</h3>
						<div class="about-details">
							<p>Turn the food options at any event or concert from 0 to 11. </p>
							<p> We’ll tap into our network of over 18,000 food trucks to transform any food court into a culinary experience specific to your event.</p>
						</div>

						<div class="about-icon-text align-items-center">
							<div class="abt-icon">
								<i class="icofont-fruits"></i>
							</div>
							<div class="abt-text">
								<h2> We do all of the hard work, so all you have to do is eat.</h2>
							</div>
						</div>
					</div>
				</div>
                <div class="col-md-6">
					<div class="about-image">
                    
					</div>
				</div>
			</div>
		</div>
	</div>



  