<div class="container">
<h1>food trucks index page </h1>
  <div class="row">
  <% @foodtrucks.each do |foodtruck| %>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name:<%= foodtruck.name %></h5>
        <p class="card-food-type">Food type:<%= foodtruck.food_type %></p>
        <p class="card-text">Description: <%= foodtruck.description %></p>
        <div class="btn btn-primary">
          <%= link_to 'see the foodtruck', foodtruck_path(foodtruck), :class => "btn" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>