#card-container {
  padding: 40px;
  padding-bottom: 60px;
  background-color: #f8f6ed;
  margin: 0 auto;
}

.card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border-radius: 4px;
  margin: 12px;
}

.card:hover {
    box-shadow: 0 6px 7px rgba(0,0,0,0.2);
}

.card-title {
  font-family: $body-font;
  font-size: 20px;
  font-weight: 800;
  color: rgb(80, 79, 79);
}

.card-food-type {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 300;
  color: $gray;
}

.card-text {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 100;
  color: $gray;
}

.img-card {
  width: 100%;
  object-fit: cover;
}
