footer {
    display:flex;
    color: $primary-light;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: $gray-dark;
    padding: 24px 0;
    width: 100%;
    justify-content:center;
    align-items:center;
  }
  