.navbar-rollingkitchen {
  justify-content: space-between;
  background: $gray-dark;
  padding: 18px;
}

.navbar-rollingkitchen .navbar-collapse {
  flex-grow: 0;
}

.navbar-rollingkitchen .navbar-brand img {
  width: 200px;
}

.navbar-light .navbar-nav .nav-link {
  color: $primary-light;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $primary-dark;
}
