.navbar-rollingkitchen {
  justify-content: space-between;
  background: $primary-dark;
  padding: 8px;
}

.navbar-rollingkitchen .navbar-collapse {
  flex-grow: 0;
}

.navbar-rollingkitchen .navbar-brand img {
  width: 40px;
}
